<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ASR Fuel</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>


<div id="content" class="container">

    <div>
        <h2>ASR function</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Tank</th>
            <th>Product</th>
            <th>Sales Volume</th>
            <th>Inventory Volume</th>
        </tr>
        <tr><th>1</th>
            <th>11111</th>
            <th>140075 E80</th>
            <th>1000 L</th>
            <th>500 L</th>
        </tr>
        <tr><th>2</th>
            <th>11112</th>
            <th>144012 E75</th>
            <th>6111 L</th>
            <th>40000 L</th>
        </tr>
        <tr><th>3</th>
            <th>111113</th>
            <th>140077 E85</th>
            <th>5000 L</th>
            <th>10000 L</th>
        </tr>
        <tr><th>4</th>
            <th>111114</th>
            <th>140079 E30</th>
            <th>2000 L</th>
            <th>10 L</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
