<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Logistic</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>


<div id="content" class="container">

    <div>
        <h2>Logistics </h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Delivery number</th>
            <th>Status</th>
            <th>Order reference</th>
        </tr>
        <tr>
            <th>1</th>
            <th>8xxxxxxx</th>
            <th>New</th>
            <th>11xxxxxx</th>
        </tr>
        <tr>
            <th>2</th>
            <th>8yyyyyyyy</th>
            <th>Accepted</th>
            <th>11yyyyyyy</th>
        </tr>
        <tr>
            <th>3</th>
            <th>8zzzzzzzz</th>
            <th>Complated</th>
            <th>11zzzzzzz</th>
        </tr>






        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
