<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SMS</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>


<div id="content" class="container">

    <div>
        <h2>SMS function list </h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Allocation</th>
            <th>Contacts</th>
            <th>Terminal</th>
            <th>eSpot</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
